@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.cont {
  @apply px-4 xl:px-20;
}
.cust-trans {
  @apply transition-all duration-300;
}
.borderColor{
  @apply dark:border-gray-100/20 border-gray-500/20
}
.pageTitle{
  @apply font-bold text-xl px-2 py-4 max-md:text-lg
}
.pageContainer{
  @apply px-4 border-[1px] borderColor py-6 rounded-md animate-fade-up cust-trans
}
.doneBtn{
  @apply max-sm:rounded-sm  rounded-md text-xs cust-trans bg-primary-dark max-sm:text-[10px] p-2 max-sm:h-fit text-white hover:bg-primary
}
.cancelBtn{
  @apply  max-sm:rounded-sm rounded-md text-xs cust-trans bg-red-500 max-sm:text-[10px] p-2 max-sm:h-fit  text-white hover:bg-red-400
}
.custom-border{
  @apply  dark:border-gray-100/20 border-gray-500/20
}



@keyframes wobble {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(5deg);
  }
}


@keyframes destroyEffect {
  0% {
    transform: scale(1) ;
    opacity: 1;
    filter: blur(0);
  }
  25% {
    transform: scale(1.05) r;
    filter: blur(1px);
  }
  50% {
    transform: scale(0.9) ;
    opacity: 0.7;
    filter: blur(2px);
  }
  75% {
    transform: scale(1.1) ;
    opacity: 0.3;
    filter: blur(4px);
    border-color: red;
  }
  100% {
    transform: scale(0) ;
    opacity: 0;
    filter: blur(6px);
    border-color: red;
    display: none;
  }
}

.destroy {
  animation: destroyEffect 1s ease-in-out forwards;
}